<ion-content class="ion-padding">
   <div id="burn">
      <div>
         <!-- <h1>Burn Mining</h1> -->
         <ion-card class="no-border-shadow">
            <ion-card-header>
               <ion-card-subtitle>your balance: {{formatNumber(burnableD9? burnableD9 :0)}} Main Contract
                  :{{formatNumber(burnManagerBalance)}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>

            </ion-card-content>
         </ion-card>
         <div id="burn-amount-container">
            <div>
               <p>Total Burned </p>
               <h2>{{formatNumber(networkBurned)}}</h2>
            </div>
            <div>
               <p> Return rate:</p>
               <h2>{{formatNumber(returnPercent)}}</h2>
            </div>
            <div>
               <p>me</p>
               <h2>{{calculateContributionPercentage().toFixed(3)}}% </h2>
            </div>
         </div>
         <ion-card id="portfolio-data" *ngIf="burnPortfolio">

            <ion-card-content>
               <div class="burn-portfolio-row">
                  <div>
                     <p>🏦 {{burnPortfolio.balanceDue}}</p>
                  </div>
                  <div>
                     <p>🔥 {{burnPortfolio.amountBurned}}</p>
                  </div>
                  <div>
                     <p>📲 {{burnPortfolio.balancePaid}}</p>
                  </div>
               </div>

            </ion-card-content>
         </ion-card>
         <ion-card *ngIf="burnPortfolio">

            <ion-card-content>
               <div class="burn-portfolio-row">
                  <div>
                     <p>🌱{{baseExtraction}}</p>
                  </div>

                  <div>
                     <p>📈 {{referralBoost}}</p>
                  </div>
               </div>

            </ion-card-content>
         </ion-card>
         <ion-card id="last-actions" *ngIf="burnPortfolio">
            <ion-card-header>
               <div>
                  <p>Last Burn {{toHumanDate(burnPortfolio.lastBurn.time)}}</p>

               </div>
               <div *ngIf="burnPortfolio.lastWithdrawal">
                  <p>Last Withdrawal {{toHumanDate(burnPortfolio.lastWithdrawal.time)}}</p>
               </div>
            </ion-card-header>
         </ion-card>
         <ion-card *ngIf="!burnPortfolio">
            <ion-card-header>
               <ion-card-title>
                  No Burns Yet
               </ion-card-title>
            </ion-card-header>
            <ion-card-content>
               <p>Start burning to earn dividends</p>
            </ion-card-content>
         </ion-card>
      </div>
      <ion-card>

         <ion-card-content>
            <p>My Referral Account</p>
            <p id="parent">{{parent}}</p>
         </ion-card-content>
      </ion-card>
      <div id="burn-input-container">
         <form>
            <ion-input type="number" fill="solid" label="Burn D9" labelPlacement="floating"
               helperText="enter an amount you would like to burn" errorText={{getBurnAmountErrorMessage()}}
               id="burnInput" [formControl]="burnAmount"></ion-input>
         </form>
         <div id="bottom-button-container">
            <ion-button expand="full" (click)="burn()" [disabled]="disableBurnButton()"> burn </ion-button><ion-button
               (click)="withdraw()">withdraw</ion-button>
         </div>
      </div>

   </div>
</ion-content>