<ion-content class="ion-padding">
   <div id="burn">
      <div>
         <!-- <h1>Burn Mining</h1> -->
         <ion-card class="no-border-shadow">
            <ion-card-header>
               <ion-card-subtitle>Burnable Assets: {{formatNumber(burnableD9? burnableD9 :0)}}</ion-card-subtitle>

            </ion-card-header>
         </ion-card>
         <div id="burn-amount-container">
            <div>
               <p>Total Burned </p>
               <h2>{{formatNumber(networkBurned)}}</h2>
            </div>
            <div>
               <p> Return rate:</p>
               <h2>{{formatNumber(returnPercent)}}</h2>
            </div>
            <div>
               <p>me</p>
               <h2>{{calculateContributionPercentage().toFixed(3)}}% </h2>
            </div>
         </div>
         <ion-card id="portfolio-data" *ngIf="burnPortfolio">
            <ion-card-header>
               <ion-card-subtitle>My Burn Portfolio</ion-card-subtitle>

               <div id="burn-amounts">
                  <div>
                     <p>Dividends Due</p>
                     <h2>{{burnPortfolio.balanceDue}}</h2>
                  </div>
                  <div>
                     <p>Amount Burned</p>
                     <h2>{{burnPortfolio.amountBurned}}</h2>
                  </div>
               </div>
               <ion-card-subtitle>
                  <p>Dividends Paid</p>
                  <h2>{{burnPortfolio.balancePaid}}</h2>
               </ion-card-subtitle>
            </ion-card-header>
         </ion-card>
         <ion-card id="last-actions" *ngIf="burnPortfolio">
            <ion-card-header>
               <ion-card-subtitle>History</ion-card-subtitle>
               <p>Last Burn</p>
               <ion-card-title>{{toHumanDate(burnPortfolio.lastBurn.time)}}</ion-card-title>
               <div *ngIf="burnPortfolio.lastWithdrawal">
                  <p>Last Withdrawal</p>
                  <ion-card-title>{{toHumanDate(burnPortfolio.lastWithdrawal.time)}}</ion-card-title>
               </div>
            </ion-card-header>
         </ion-card>
         <ion-card *ngIf="!burnPortfolio">
            <ion-card-header>
               <ion-card-title>
                  No Burns Yet
               </ion-card-title>
            </ion-card-header>
            <ion-card-content>
               <p>Start burning to earn dividends</p>
            </ion-card-content>
         </ion-card>
      </div>
      <ion-card>
         <ion-card-header>
            <ion-card-subtitle>My Referral Account</ion-card-subtitle>
         </ion-card-header>
         <ion-card-content>
            <p id="parent">{{parent}}</p>
         </ion-card-content>
      </ion-card>
      <div id="burn-input-container">
         <form>
            <ion-input type="number" fill="solid" label="Burn D9" labelPlacement="floating"
               helperText="enter an amount you would like to burn" errorText={{getBurnAmountErrorMessage()}}
               id="burnInput" [formControl]="burnAmount"></ion-input>
         </form>
         <div id="bottom-button-container">
            <ion-button expand="full" (click)="burn()" [disabled]="disableBurnButton()"> burn </ion-button><ion-button
               (click)="withdraw()">withdraw</ion-button>
         </div>
      </div>

   </div>
</ion-content>