<swiper-container slides-per-view="auto" centered-slides="true">
   <swiper-slide>
      <ion-card id="exchange-card">
         <ion-card-header>
            <ion-card-title>BUY D9</ion-card-title>

         </ion-card-header>
         <ion-card-content>
            <div id="currency-exchange-button-row">
               <ion-button fill="outline">BUY USDT</ion-button>
               <ion-button fill="outline">BUY D9</ion-button>
            </div>
         </ion-card-content>
      </ion-card>
   </swiper-slide>
   <swiper-slide>
      <ion-card id="exchange-card">
         <ion-card-header>
            <ion-card-subtitle>Currency Swap</ion-card-subtitle>

         </ion-card-header>
         <ion-card-content>
            <div id="currency-exchange-button-row">
               <ion-button fill="outline">BUY USDT</ion-button>
               <ion-button fill="outline">BUY D9</ion-button>
            </div>
         </ion-card-content>
      </ion-card>
   </swiper-slide>
</swiper-container>

<ion-fab-list>d</ion-fab-list>