<ion-card>
   <ion-card-header>
      <ion-card-title>
         Reserves
      </ion-card-title>
   </ion-card-header>

   <ion-card-content class="ion-padding">

      <div id="reserves-container">
         <p>d9 {{d9Reserves}}</p>
         <p>usdt {{usdtReserves}}</p>
      </div>
      <div>

      </div>
   </ion-card-content>
</ion-card>
<ion-list>
   <ion-item>
      <ion-select [value]="selectedSwap" placeholder="Select a swap" (ionChange)="onSelectChange($event)">
         <div slot="label">Select Swap </div>
         <ion-select-option value="USDT_D9">USDT to D9</ion-select-option>
         <ion-select-option value="D9_USDT">D9 to USDT</ion-select-option>
      </ion-select>
   </ion-item>
</ion-list>
<ion-card>
   <ion-card-header>
      <ion-card-subtitle>{{toCurrency.symbol}}{{formatNumber( calculatePrice())}} /
         {{fromCurrency.name}}</ion-card-subtitle>
   </ion-card-header>
</ion-card>
<ion-card class="ion-padding">
   <ion-card-header>
      <ion-card-title>
         Swap
      </ion-card-title>
      <ion-card-subtitle>you get: ≈ {{formatNumber(calcToAmount())}} {{toCurrency.name}}</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content class="ion-padding">

      <p>your current {{fromCurrency.name}} balance is {{fromBalance}}</p>
      <ion-input type="number" fill="solid" label="Swap {{fromCurrency.name}}" labelPlacement="floating" errorText=""
         id="swapInput" errorText="" [formControl]="swapAmount"></ion-input>
      <span class="error-message" *ngIf="swapAmount.hasError('customError')">{{ swapAmount.getError('customError').message }}</span>
   </ion-card-content>
   <p> your current USDT allowance is {{usdtAllowance}}</p>
   <div>
      <ion-button (click)="swap()" [disabled]="swapAmount.invalid"> swap </ion-button>
      <ion-button *ngIf="fromCurrency.ticker==='USDT'" (click)="openAllowanceModal()">+ USDT allowance</ion-button>
   </div>
</ion-card>
