<ion-menu menuId="{{menuId}}" contentId="main-content" side="start">
   <ion-header [translucent]="true" class="ion-no-border">
      <ion-toolbar class="ion-no-border">
         <ion-title>Menu</ion-title>
      </ion-toolbar>
   </ion-header>
   <!-- <ion-content class="ion-padding">This is the first menu content.</ion-content> -->
   <div class="ion-page">
      <ion-header>
         <ion-toolbar>
            <ion-title>Menu</ion-title>
         </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

         <ion-list>

            <ion-item button (click)="navigateTo('home')">
               main
            </ion-item>

            <!-- <ion-item button (click)="navigateTo('account-management')">
               account management
            </ion-item> -->
            <!-- <ion-item button>
               discover
            </ion-item>
            <ion-item button>
               world swap
            </ion-item>
            <ion-item button>
               node management
            </ion-item> -->
            <ion-item button (click)="navigateTo('burn')">
               burn
            </ion-item>
            <ion-item button (click)="navigateTo('ancestors')">
               ancestors
            </ion-item>
            <ion-item button (click)="navigateTo('merchant-account')">
               Merchant
            </ion-item>
            <ion-item button (click)="navigateTo('green-account')">
               Green Account
            </ion-item>
            <ion-item button (click)="navigateTo('swap')">
               swap
            </ion-item>
            <ion-item button (click)="navigateTo('liquidity')">
               liquidity
            </ion-item>
            <ion-item button (click)="navigateTo('nodes-management')">
               nodes
            </ion-item>
            <ion-item button (click)="navigateTo('voting')">
               node voting
            </ion-item>
            <!-- <ion-item button>
               cross-chain transfer
            </ion-item> -->

            <ion-item button (click)="navigateTo('settings')">
               settings
            </ion-item>
         </ion-list>
      </ion-content>
   </div>
</ion-menu>

<div class="ion-page" id="main-content">
   <ion-header>
      <ion-toolbar>
         <ion-title>Menu</ion-title>
      </ion-toolbar>
   </ion-header>
   <ion-content class="ion-padding">
      <p>Tap a button below to open a specific menu.</p>


   </ion-content>
</div>