ion-title {
    text-align: left;
    padding: 10px;
}
#green-points-card {
   background-color: #2af598;
   p {
      margin: 10px 0px;
   }
}
#countdown {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
#merchant-account-card {
   background-color: #eb0808;
   ion-card-subtitle {
      color: white;
   }
   ion-card-title {
      color: white;
    }
   p {
      color: white;
      margin: 0;
   }
   ion-select {
      color: white;
   }

}
