<ion-content style="background-color: white;">
   <div class="container">
      <div class="logo">
         <ion-img src="assets/icon.png"></ion-img>
      </div>
      <p i18n="@@first-run-get-started">Get started with D9 Network</p>
      <ion-button expand="block" fill="solid" color="primary" style="background-color: #0065b2; margin-top: 20px;"
         i18n="@@new-wallet">New
         Wallet</ion-button>
      <ion-button expand="block" fill="outline" style="color: #0065b2; margin-top: 10px;"
         i18n="@@recover-wallet">Recover Wallet</ion-button>

   </div>
</ion-content>