<ion-content>

   <ion-card id="account-card">
      <ion-card-header>
         <ion-card-subtitle>Account Info</ion-card-subtitle>
         <ion-card-title>{{account.name}}</ion-card-title>

      </ion-card-header>
      <ion-card-content>
         <p id="address">{{account.address}}</p>
      </ion-card-content>
   </ion-card>
   <div id="middle">
      <ion-card id="balance-card">
         <ion-card-header>
            <ion-card-subtitle>Portfolio Value</ion-card-subtitle>
            <div id="balances-container">
               <div id="left-balances">
                  <ion-card-title><span id="currency-symbol">{{currencySymbol }}</span>
                     {{formatNumber(d9Balances.free)}}
                  </ion-card-title>
               </div>
               <div id="right-balances">
                  <div class="balances-row">
                     <p>Reserved</p>
                     <p>{{formatNumber(d9Balances.reserved)}}</p>
                  </div>
                  <div class="balances-row">
                     <span>Locked</span><span>{{formatNumber(d9Balances.locked)}}</span>
                  </div>
                  <div class="balances-row">
                     <span>Vested</span><span>{{formatNumber(d9Balances.vested)}}</span>
                  </div>
                  <div class="balances-row">
                     <span>Voting Free</span><span>{{formatNumber(d9Balances.voting)}}</span>
                  </div>
               </div>

            </div>
         </ion-card-header>
         <ion-card-content>
            <div class="primary-assets">
               <h2 class="asset-name">D9</h2>
               <h2 class="asset-amount">{{formatNumber(d9Balances.free)}}</h2>
            </div>
            <div class="primary-assets">
               <h2 class="asset-name">USDT</h2>
               <h2 class="asset-amount">{{formatNumber(usdtBalance)}}</h2>
            </div>
         </ion-card-content>
      </ion-card>

      <div id="transaction-buttons-container">
         <div class="transaction-button">
            <button shape="round" id="receive-button" (click)="goTo('receive')">
               <fa-icon [icon]="receiveIcon"></fa-icon>
            </button>
            <span>receive</span>
         </div>
         <div class="transaction-button">
            <button id="send-button" (click)="goTo('send')">
               <fa-icon [icon]="sendIcon"></fa-icon>
            </button>
            <span>send</span>
         </div>
         <div class="transaction-button">
            <button (click)="goTo('swap')">
               <fa-icon [icon]="swapIcon"></fa-icon>
            </button>
            <span>swap</span>
         </div>
      </div>
   </div>
   <home-assests-list></home-assests-list>
</ion-content>