<ion-card *ngIf="!validMerchant()" id="invalid-merchant">
   <ion-header>
      <ion-title>Invalid Merchant Account</ion-title>
   </ion-header>
</ion-card>
<div>
   <ion-card *ngIf="validMerchant()">
      <ion-card-header>
         valid until: {{countdown}}
      </ion-card-header>
   </ion-card>

</div>
<ion-card *ngIf="validMerchant()">
   <ion-list>
      <ion-item>
         your D9 balance {{d9Balance}}
      </ion-item>
      <ion-item>
         your USDT balance {{usdtBalance}}
      </ion-item>
   </ion-list>
</ion-card>
<ion-card>
   <ion-card-header *ngIf="validMerchant()">

      <ion-card-title>
         Pay Merchant
      </ion-card-title>
      <ion-card-subtitle>{{merchantAddress}}</ion-card-subtitle>
      <ion-card-content>
         <ion-select placeholder="Select month" label="Paying currency" label-placement="stacked"
            errorText="check balance or allowance" [formControl]="currency">
            <ion-select-option value="USDT">USDT</ion-select-option>
            <ion-select-option value="D9">D9</ion-select-option>
         </ion-select>
         <ion-input type="number" fill="solid" label="input amount" labelPlacement="floating"
            errorText="must be greater than zero" id="burnInput" [formControl]="amountToSend"></ion-input>
         <ion-button (click)="send()" [disabled]="disableButton()">send</ion-button>
         <ion-button *ngIf="currency.value==='USDT'" (click)="openAllowanceModal()">allowance</ion-button>
         <p *ngIf="currency.value==='USDT'">allowance: {{allowance}}</p>
      </ion-card-content>
   </ion-card-header>
</ion-card>
<!-- <ion-button (click)="send()">pay merchant test button</ion-button> -->