<ion-content class="ion-padding">
   <div *ngIf="!isGreenAccount">You don't have a green account.</div>

   <div *ngIf="isGreenAccount">
      <ion-header>
         <ion-title>Green Points Account</ion-title>
      </ion-header>
      <ion-card id="green-points-card" *ngIf="greenPointsAccount">
         <ion-card-header>
            <ion-card-title>{{
               greenPointsAccount.greenPoints-redPoints-accelerateRedPoints | numberFormat
               }}</ion-card-title>
            <ion-card-subtitle>My Green Points</ion-card-subtitle>
         </ion-card-header>
         <ion-card-content>
            <p> &#8776; {{ greenPointsAccount.greenPoints * conversionRate }} USDT</p>
            <p>Conversion rate: {{ conversionRate }} USDT</p>
            <p>redeemed D9: {{ greenPointsAccount.redeemedD9 }}</p>
            <p>redeemed USDT: {{ greenPointsAccount.redeemedUsdt }}</p>
            <p>Red Points: {{ redPoints }}</p>
            <p>Accelerate Red Points: {{ accelerateRedPoints }}</p>
            <ion-button expand="full" (click)="openModal()">redeem</ion-button>
         </ion-card-content>
      </ion-card>



   </div>
</ion-content>