<ion-content class="ion-padding">
   <ion-card *ngIf="isMerchantAccount()">
      <ion-card-header>
         <ion-card-subtitle>Merchant Countdown</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
         <div id="countdown">
            <h3>{{countdown}}</h3>
         </div>
      </ion-card-content>
   </ion-card>

   <ion-card *ngIf="isMerchantAccount()" id="merchant-account-card">
      <ion-card-header>
         <ion-card-subtitle>Merchant Account</ion-card-subtitle>
         <div>
            <ion-card-content>
               <form>
                  <ion-input type="text" fill="solid" label="enter address" labelPlacement="floating"
                     errorText="must be valid address" id="addressInput" [formControl]="toAddress"></ion-input>
                  <ion-input type="number" fill="solid" label="input D9" labelPlacement="floating"
                     errorText="must be greater than zero" id="burnInput"
                     [formControl]="amountToGreenPoints"></ion-input>
               </form>
            </ion-card-content>
            <ion-button (click)="sendGreenPoints()">send green points</ion-button>
         </div>
      </ion-card-header>
   </ion-card>


</ion-content>

<ion-card id="merchant-account-card">
   <ion-card-header>
      <ion-card-subtitle>Subscribe</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
      <form>
         <ion-select placeholder="Select month" label="Number of months" label-placement="stacked"
            errorText="check balance or allowance" [formControl]="numberOfMonths">
            <ion-select-option value="1">1 month</ion-select-option>
            <ion-select-option value="3">3 months</ion-select-option>
            <ion-select-option value="6">6 months</ion-select-option>
            <ion-select-option value="12">12 months</ion-select-option>
            <ion-select-option value="24">24 months</ion-select-option>
         </ion-select>
         <ion-button (click)="subscribe()" [disabled]="!numberOfMonths.valid">subscribe</ion-button>
         <ion-button (click)="moreAllowance()" [disabled]="usdtBalance===0">allowance</ion-button>
      </form>
      balance {{usdtBalance}} allowance {{usdtAllowance}}
   </ion-card-content>
</ion-card>
<ion-button (click)="openMerchantQrModal()" *ngIf="">merchant qr code </ion-button>