<ion-content class="ion-padding no-scroll">
   <ion-card *ngIf="isMerchantAccount()">
      <ion-card-header *ngIf="!calculationVisible">
         <ion-card-subtitle>Merchant Countdown</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
         <div *ngIf="!calculationVisible">
            <div id="countdown">
               <h3>{{countdown}}</h3>
            </div>
         </div>
         <div id="green-points-calculation" *ngIf="calculationVisible">
            <div class="points-container">
               <span class="green-point"><fa-icon [icon]="receiveArrow"></fa-icon></span>
               <p>{{formatNumber(receivedGreenPoints)}}</p>
            </div>
            <div class="points-container">
               <p>Tokens Consumed</p>
               <p>{{formatNumber(tokensConsumed)}}</p>
            </div>
            <div class="points-container">
               <span class="green-point"><fa-icon [icon]="sendArrow"></fa-icon></span>
               <p>{{formatNumber(sentGreenPoints)}}</p>
            </div>
         </div>
      </ion-card-content>
   </ion-card>
   <swiper-container space-between="1" slides-per-view="auto" centered-slides="true">
      <swiper-slide>
         <ion-card *ngIf="isMerchantAccount()" id="merchant-account-card">
            <ion-card-header>
               <ion-card-subtitle>Merchant Account</ion-card-subtitle>
               <div>
                  <ion-card-content>
                     <form>
                        <ion-input type="text" fill="solid" label="enter address" labelPlacement="floating"
                           errorText="must be valid address" id="addressInput" [formControl]="toAddress"></ion-input>
                        <ion-input type="number" fill="solid" label="input {{paymentMethod.value}}"
                           labelPlacement="floating" errorText="must be greater than zero" id="burnInput"
                           [formControl]="amountToGreenPoints"></ion-input>
                        <ion-select placeholder="Select Payment" label="payment" label-placement="stacked"
                           errorText="check balance or allowance" [formControl]="paymentMethod">
                           <ion-select-option value="USDT">USDT</ion-select-option>
                           <ion-select-option value="D9">D9</ion-select-option>
                        </ion-select>
                        <p>balance:{{getCurrencyIcon()}} {{showBalance()}}</p>
                     </form>
                  </ion-card-content>
                  <ion-button (click)="sendGreenPoints()" [disabled]="disableSendButton()">send green
                     points</ion-button>
               </div>
            </ion-card-header>
         </ion-card>
      </swiper-slide>
      <swiper-slide>
         <ion-card>
            <ion-card-header>
               <ion-card-subtitle>Merchant QR Code</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
               <div id="qrcode" #qrCodeContainer></div>
            </ion-card-content>
         </ion-card>
      </swiper-slide>
      ...
   </swiper-container>



</ion-content>

<ion-card id="merchant-account-card">
   <ion-card-header>
      <ion-card-subtitle>Subscribe</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
      <form>
         <ion-select placeholder="Select month" label="Number of months" label-placement="stacked"
            errorText="check balance or allowance" [formControl]="numberOfMonths">
            <ion-select-option value="1">1 month</ion-select-option>
            <ion-select-option value="3">3 months</ion-select-option>
            <ion-select-option value="6">6 months</ion-select-option>
            <ion-select-option value="12">12 months</ion-select-option>
            <ion-select-option value="24">24 months</ion-select-option>
         </ion-select>
         <ion-button (click)="subscribe()" [disabled]="!numberOfMonths.valid">subscribe</ion-button>
         <ion-button (click)="moreAllowance()" [disabled]="usdtBalance===0">allowance</ion-button>
      </form>
      balance {{usdtBalance}} allowance {{usdtAllowance}}
   </ion-card-content>
</ion-card>
<ion-button (click)="openMerchantQrModal()" *ngIf="">merchant qr code </ion-button>