ion-content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 8px;
}
#top-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   margin-top: 10px;
}
#name-row {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   padding: 0 20px;
   margin-top: 10px;
}
#address {
   font-size: 0.6rem;
}
#balance-card {
   background-color: #0093e9;
   background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
   color: white;
   ion-card-title {
      color: white;
   }
   ion-card-subtitle {
      color: rgb(220, 230, 235);
   }
}
ion-icon {
   font-size: 1.3rem;
}
#transaction-buttons-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   box-sizing: border-box;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   margin-top: 10px;
   button {
      width: 50px;
      height: 50px;
      border-radius: 20px;
      background-color: #0093e9;
      box-shadow:
         rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
         rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      color: white;
   }
   span {
      font-size: 0.6rem;
   }
}
.top-button {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   border-radius: 4px;
   padding: 4px;
   background-color: white;
   font-size: 1.1rem;
   color: var(--ion-color-primary);
}
.transaction-button {
   display: flex;
   flex-direction: column;
   gap: 8px;
   align-items: center;
}
.primary-assets {
   display: flex;
   flex-direction: row;
}
.asset-name {
   width: 70px;
}
.asset-amount {
}
#exchange-card {
   background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
   ion-card-subtitle {
      color: black;
   }
}
